body {
  padding-left: 50px;
  padding-bottom: 50px; 
}

button {
  display: inline-block;
  width: 130px;
  height: 35px;
  margin: 20px;
  padding: 5px;
  font-size: 20px;
}

table thead tr {
  height: 36px;
}

table tbody tr {
  height: 30px;
}

/*.hide {
  display: none;
}*/

.highlight {
  font-weight: bold;
  color: white;
  background-color: #0000FF;
}

#contacts {
  float: left;
  margin: 30px;
}

#show-contact {
  float: left;
  margin-top: 30px;
  margin-left: 50px;
  width: 400px;
  padding: 20px;
  border: 1px solid black;
}

#phone-heading {
  text-decoration: underline;
  font-size: 1.1em;
}