<button id="list-contacts" type="button">List Contacts</button>

<button id="add-contact" type="button">Add Contact</button>
<br />

<table id="contacts" class="hide" border="1">
  <thead>
    <tr height="40">
      <th>Contact ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<form id="new-contact" class="hide">
  <label for="new-first-name">First Name:</label> <br />
  <input name="first_name" id="new-first-name" type="text">
  <br />
  <label for="new-last-name">Last Name:</label> <br />
  <input name="last_name" id="new-last-name" type="text">
  <br />
  <label for="new-email">Email:</label> <br />
  <input name="email" id="new-email" type="email">
  
  <hr />
  <label>Phone Numbers (up to 3):</label> <br />
  Label: <input name="phone[][label]" type="text"> &nbsp;&nbsp;
  Number: <input name="phone[][number]" type="text"> <br />
  Label: <input name="phone[][label]" type="text"> &nbsp;&nbsp;
  Number: <input name="phone[][number]" type="text"> <br />
  Label: <input name="phone[][label]" type="text"> &nbsp;&nbsp;
  Number: <input name="phone[][number]" type="text"> <br />

  <hr />
  <input type="submit" value="Submit">
</form>

<div id="show-contact" class="hide">
  bbbskdfd
</div>