<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- <link rel="stylesheet" href="/stylesheets/normalize.css"> -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <title></title>
</head>

<body>
  <div id="container">
    <div class="jumbotron">
      <h1>Contact List</h1>
    </div>

    <button id="list-contacts" type="button">List</button>
    <button id="find-contact" type="button">Find</button>
    <button id="add-contact" type="button">Add</button>
    <br />
    
    <%= yield %>
  </div>
  
  <script src="/javascript/application.js"></script>
</body>
</html>
